task2_1.dtd

<!ELEMENT store (watch, shoes, headphones, cars, mfu)>

<!ELEMENT watch (item)*>
<!ELEMENT shoes (item)*>
<!ELEMENT headphones (item)*>
<!ELEMENT cars (item)*>
<!ELEMENT mfu (item)*>

<!ELEMENT item (vendor, model, date, color, price, pieces)>
<!ELEMENT vendor	(#PCDATA)>
<!ELEMENT model	(#PCDATA)>
<!ELEMENT date	(#PCDATA)>
<!ELEMENT color	(#PCDATA)>
<!ELEMENT price	(#PCDATA)>
<!ELEMENT pieces	(#PCDATA)>
