task2_1.xsd

<?xml version="1.0"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="vendor" type="xs:string"/>
  <xs:element name="model" type="xs:string" value="[a-zA-Z][a-zA-Z][0-9][0-9][0-9]"/>
  <xs:element name="date" type="xs:string" value="^(0[1-9]|[12][0-9]|3[01])[- /.](0[1-9]|1[012])[- /.](19|20)\d\d$"/>
  <xs:element name="color" type="xs:string"/>
  <xs:element name="price" type="xs:integer"/>
  <xs:element name="pieces" type="xs:integer"/>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="vendor"/>
        <xs:element ref="model"/>
        <xs:element ref="date"/>
        <xs:element ref="color"/>
        <xs:element ref="price"/>
        <xs:element ref="pieces"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="watch">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shoes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="headphones">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cars">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="mfu">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="item"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="store">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="watch"/>
        <xs:element ref="shoes"/>
        <xs:element ref="headphones"/>
        <xs:element ref="cars"/>
        <xs:element ref="mfu"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
